.inicio {
  margin-top: -80px;
  background-color: rgb(250, 241, 226) !important;
  margin-left: -310px;
  width: 1920px;
  padding: 30px;
  height: 620px;
}

.inicio h2 {
  margin-top: 60px !important;
  font-weight: 600;
  font-size: 50px !important;
}

.inicio h3 {
  font-weight: bold;
  color: black;
  background: rgb(255, 255, 255);
  padding: 7px;
  display: inline-block;
}

.inicio p {
  font-weight: bold;
  color: black;
  padding: 3px;
  display: inline-block;

}

/* Media queries para tablets */
@media (max-width: 820px) {
  .inicio {
  margin-left: -62px;
  margin-top: 120px;
    width: 830px; /* Ancho completo */
    height: 786px; /* Ajustar altura automáticamente */
    padding: 30px; /* Reducir padding */
    margin-bottom: -500px;
  }

  .inicio h2 {
    font-size: 2.5rem !important; /* Ajustar tamaño de fuente */
    height: 100px;
  }
  

  .inicio h2 {
    font-size: 2.5rem !important; /* Ajustar tamaño de fuente */
    height: 100px;
  }
  .inicio p{
    margin-top: 50px !important;
  }

  .inicio h3 {
    margin-top: 20px;
    font-size: 1.95rem; /* Ajustar tamaño de fuente */
  }

  .inicio .btn {
    display: block;
    width: 70%;
    margin: 10px 0; /* Espacio entre botones */
    font-size: 1.8rem;
  }
}

/* Media queries para móviles */
@media (max-width: 480px) {
  .inicio {
    margin-left: -12px; /* Eliminar margen negativo */
 margin-top: 155px;
    width: 430px; /* Ancho completo */
    height: 682px; /* Ajustar altura automáticamente */
   padding: 10px;
position: relative;
  }

  .inicio h2 {
    
    font-size: 1.9rem !important; /* Ajustar tamaño de fuente */
  }

.inicio h3{
  margin-top: 20px;
    font-size: 16px;
}


  .inicio .btn {
    display: block;
    
    width: 70%;
    margin-left: 3px;
    font-size: 1rem;
  }
}

