
.password{
    margin-top:-20px;
    background-color: rgb(250, 241, 226) !important;
  margin-left:-310px;
  width: 1920px;
  height: 560px;
padding: 30px;

}

.password h2{
    margin-top: 80px !important;
   
}

