.registro {
    margin-top:-20px;
    background-color: rgb(250, 241, 226) !important;
    margin-left:-310px;
    width: 1920px;
    height: 540px;
    padding: 30px;

}






h2{
    margin-top: 420px;
    padding: 10px;
    font-weight: bold !important;
    font-size: 45px !important;
}