.acceso{
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    text-align: center;
}

.tuArea{
    margin-top: -80px;
    background-color: rgb(250, 241, 226) !important;
    margin-left: -310px;
    width: 1920px;
    padding: 30px;
    height: 620px;

}

.sitio{
    margin-top: 150px !important;
    font-size: 55px !important; 
    font-weight: bold !important;
}

@media (max-width: 820px) {
    .tuArea {
    margin-left: -62px;
    margin-top: 120px;
      width: 830px; /* Ancho completo */
      height: 786px; /* Ajustar altura automáticamente */
      padding: 30px; /* Reducir padding */
      margin-bottom: -500px;
    }
  
    .tuArea h2 {
      font-size: 2.5rem !important; /* Ajustar tamaño de fuente */
      height: 100px;
    }
    
  
    .tuArea h2 {
      font-size: 2.5rem !important; /* Ajustar tamaño de fuente */
      height: 100px;
    }
    .tuArea p{
      margin-top: 50px !important;
    }
  
    .tuArea h3 {
      margin-top: 20px;
      font-size: 1.95rem; /* Ajustar tamaño de fuente */
    }
    .tuArea .btn {
        display: block;
        
        width: 30%;
        margin-left: 30px;
        font-size: 1.5rem;
        height: 60px;
      }
     
      .tuArea .btn-success{
         height: 100px;
         width: 30%;
     
      }
    }


  
  
  /* Media queries para móviles */
  @media (max-width: 480px) {
    .tuArea {
      margin-left: -12px; /* Eliminar margen negativo */
   margin-top: 155px;
      width: 430px; /* Ancho completo */
      height: 682px; /* Ajustar altura automáticamente */
     padding: 10px;
  position: relative;
    }
  
    .tuArea h2 {
      
      font-size: 3rem !important; /* Ajustar tamaño de fuente */
    }
  
  .tuArea h3{
    margin-top: 20px;
      font-size: 16px;
  }
  
  
  .tuArea .btn {
    display: block;
    
    width: 38%;
    margin-left: 30px;
    font-size: 1.2rem;
    height: 45px;
  }
 
  .tuArea .btn-success{
    height: 75px;
    width: 60%;

 }

  }
  
  